# compiled folders
classes
target
logs
.mtj.tmp/
*.class
*.ctxt
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.lock
# virtual machine crash logs
hs_err_pid*
# maven plugin temp files
.flattened-pom.xml
# dependencies
node_modules
package-lock.json
build
dist
_book
_jsdoc
public
.deploy*/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bundle*.js
.DS_Store
Thumbs.db
db.json
.idea
*.iml
.classpath
.project
.deploy_git
